*.swp
.JPG
.jpg
db*
include.php
/config.php
*.out
home/myuploads/uploads/
home/myuploads/cron_uploads.php
app_name/
photos/
cron*
test*
tmp/*
config/database.php
app/tmp/*
app/config/database.php
!empty
google.php
sms.php
